*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
  background: #0a0a0a;
  color: #ffffff;
}

#root {
  overflow-x: hidden;
}
